.list-modal {   
    position: fixed;
    top: 56px;     
    bottom: 74px;     /* 네비게이션 높이만큼 */
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    background-color: #FDFBF7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 80%;
    overflow: hidden;
    gap: 30px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list-header-left {
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    user-select: none;
}

.list-header-right {
    color: #727272;
    font-size: 12px;
    user-select: none;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 8px;
    padding: 10px 0;
    overflow-y: auto;
}

.list-item {
    width: 100%;
    min-width: 0;
    border-bottom: 1px solid #c9c9c9;
}

.list-title {
    /* display: block; */
    background: none;
    border: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: var(--text);
    text-align: left;
    padding: 3px 0;
}

.list-title:hover {
    font-weight: 450;
    border-bottom: 1px solid var(--text);
}

/* .list-container::-webkit-scrollbar {
    width: 4px;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 4px;
}

.list-container::-webkit-scrollbar-track {
    background-color: transparent;
} */

.list-container::-webkit-scrollbar {
    display: none;
}

.list-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--main-g);
  border-radius: 50%; 
  animation: bounce 0.6s infinite alternate ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
  background-color: var(--sub-bg);
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #A1B09B;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px); 
  }
}

.list-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #727272;
    margin-top: 20px;
}

.list-empty a {
    color: var(--main-g);
    font-weight: 500;
}