@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --text: #1E1E1C;
  --text-h: #F4F1EB;
  --main-g: #384B3A;
  --main-y: #FFE07D;
  --main-bg: #EBF0E8;
  --sub-bg: #6B7D68;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow: hidden;
  user-select: none;
}

.app-wrapper {
  width: 100%;
  max-width: 375px; /* 430px */
  height: 100vh;
  margin: 0 auto;
  background-color: #FDFBF7;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

.main-content::-webkit-scrollbar {
  display: none;
}
